body {
	background: #fefae3;
}

.NavB {
  background-color: #1c3422;
  border: none;
  color: white;
  box-sizing: border-box;
  width: 12rem;
  height: 3rem;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 1rem 3rem;
  font-family: playpen sans;
  text-align: center;
}

.NavB:hover {
  background-color: #c64300;
  color: white;
}

.Navbar {
  background-color: #405630db;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  width: fit-content;
  margin: 0 auto;
  border-radius: 1rem;
}

.logo {
  width: 2rem;
  height: auto;
  margin-right: 1rem;
  border-radius: 50%;
  padding: 1rem;
}